body{
    background-color: chartreuse;
}
.main{
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.hole{
    border: 4px solid black;
    border-radius: 10px;
    width: 645px;
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 50px;
}
.rebit{
    display: flex;
    height: 150px;
    width: 150px;
}
.hole1{
    
}